* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {

    /* corpo e ajustes do background em degrade */
    width: 100%;

    background-image: linear-gradient(to left, blue, orangered, yellow);
    background-size: 300% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: degrade 5s infinite alternate;





}
/* animação do degrade em background */
@keyframes degrade {
    0% {
        background-position-x: 0%;

    }

    100% {
        background-position-x: 100%;
    }
}



/* ajustes do meu container */
.container {
    width: 100%;
    min-height: 100vh;

    padding: 10px;
}
/* ajustes de estilização do meu card */
.card {
    width: 390px;
    height: 600px;
    margin: 220px auto 0;
    


}

/* conteudo de dentro do card e suas dependecias */
.card-inner {

    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;

}
/* frente e costas  */
.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;

}

/* ajustes de frente e seu background do card */
.front {
    background: url(../Imagens/andre.JPG);
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    font-weight: 740;
    color:rgb(255, 255, 255);
    text-shadow: 3px 4px 5px rgb(5, 102, 247);


}

    
    
    /* ajustes dos paragrafos da parte da frente */

.front p {
    color: #9ebed1;
    font-size: 18px;
    font-weight: 800;
    text-shadow: 3px 3px 5px rgb(8, 61, 206);

}




/* alisa meu card, paragrafo da parte onde instiga  a virar o card mensagem de interação */
.alisa-o-card {
   margin: 10px 20px;
     
}

/* parte de tras do card */
.back {
    background-color: #fff;
    padding: 20px 40px;
    transform: rotateY(180deg);
}

.back h1 {
    width: 1px 10px;
    height: 40px;
    text-align: center;
    
    
}

.back form label {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin: 4px;
    
}

.back form {
    padding: 15px;
    text-align: center;
    background-color: rgb(132, 129, 129);
    border-radius: 30px;
    width: 100%;
    box-shadow: 2px 2px 30px black;

    
}

.back form input {
    outline: none;
    padding: 10px;
    border: 0;
    font-size: 15px;
    transition: all 0.10s;
    text-align: center;
    margin: 5px;

}


/* estilização do form e seus efeitinhos */
form input:focus {
    border-radius: 50px;
}

form textarea {
    padding: 10px;
    text-align: center;
    outline: none;
    border: 0;
    font: size 15px; ;
    margin-bottom: 30px;
    transition: all 0.10s;

}


form textarea:focus {
    border-radius: 20px;
}








.card:hover .card-inner {
    transform: rotateY(180deg)
}


    
    
   


.back button {
    
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 40px;
    margin: 10px 77px;
    padding: 15px;
    background-image: linear-gradient(to left, blue, orangered, yellow);
    animation: button 5s infinite alternate;
    background-size: 300% 100%;
    transition: all 0.7s;
}

.back button:hover {

    background: rgb(40, 39, 40);
}

/* mais animações */
@keyframes button {
    0% {
        background-position-x: 0%;

    }

    100% {
        background-position-x: 100%;
    }
}