* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;

    background-image: linear-gradient(to left, blue, orangered, yellow);
    background-size: 300% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: degrade 5s infinite alternate;





}

@keyframes degrade {
    0% {
        background-position-x: 0%;

    }

    100% {
        background-position-x: 100%;
    }
}




.container {
    width: 100%;
    min-height: 100vh;

    padding: 10px;
}

.card {
    width: 390px;
    height: 590px;
    margin: 220px auto 0;


}

.card-inner {

    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;

}

.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;

}


.front {
    background: url(../Imagens/andre.JPG);
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;


}

.front h1 {
    font-weight: 740;
    color:rgb(255, 255, 255);
    text-shadow: 3px 4px 5px rgb(5, 102, 247);
    
    
}

.front p {
    color: #9ebed1;
    font-size: 17px;
    font-weight: 800;
    text-shadow: 3px 3px 5px rgb(8, 61, 206);

}





.front button {
    width: 250px;
    border: 15px #fff;
    background: transparent;
    border-radius: 50px;
    padding: 20px 30px;
    margin: 5px 25px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    font-weight: 750;
    letter-spacing: 2px;
    font-style:italic;  
    color: rgb(210, 255, 10);
}

.back {
    background-color: #fff;
    padding: 10px 45px;
    transform: rotateY(180deg);
}

.back h1 {
    width: 100px 150px;
    height: 100px;
    text-align: center;
    
    
}

.back form label {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    
}

.back form {

    text-align: center;
    background-color: rgb(132, 129, 129);
    border-radius: 30px;
    width: 100%;
    box-shadow: 2px 2px 30px black;
    

    
}

.back form input {
    outline: none;
    padding: 10px;
    border: 0;
    font-size: 15px;
    transition: all 0.10s;

}

form input:focus {
    border-radius: 50px;
}

form textarea {
    padding: 10px;

    outline: none;
    border: 0;
    font: size 15px; ;
    margin-bottom: 30px;
    transition: all 0.10s;

}

form textarea:focus {
    border-radius: 20px;
}








.card:hover .card-inner {
    transform: rotateY(180deg)
}


    
    
   


.back button {
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 40px;
    margin: 10px 72px;
    padding: 15px;
    background-image: linear-gradient(to left, blue, orangered, yellow);
    animation: button 5s infinite alternate;
    background-size: 300% 100%;
    transition: all 0.7s;
}

.back button:hover {

    background: rgb(40, 39, 40);
}

@keyframes button {
    0% {
        background-position-x: 0%;

    }

    100% {
        background-position-x: 100%;
    }
}