* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* aqui começa o meu corpinho e suas medidas e background */
body {
    width: 100%;

    background-image: linear-gradient(to left, rgb(29, 135, 0), rgb(7, 210, 255), rgb(26, 11, 232));
    background-size: 300% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: degrade 5s infinite alternate;



/* animação do meu dragrade */


}

@keyframes degrade {
    0% {
        background-position-x: 0%;

    }

    100% {
        background-position-x: 100%;
    }
}




/* aqui começa as medidas do meu conteudo */
.container {
    width: 100%;
    min-height: 100vh;

    padding: 10px;
}

/* aqui as do meu card */
.card {
    width: 390px;
    height: 590px;
    margin: 220px auto 0;


}

/* conteudo do card */
.card-inner {

    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: scale(0.8);

}

/* frente e verso do card */
.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;

}


/* conteudo da parte frontal */
.front {
    background: url(../Imagens/andre.JPG);
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;


}

/* conteudo do texto do card */

.front h2 {
    font-weight: 900;
    color: rgb(255, 255, 255)
}

.front p {
    color: #9ebed1;
    font-size: 17px;
    font-weight: 800;

}


/* um botao que nao e botao */


.front button {
    width: 250px;
    border: 15px #fff;
    background: transparent;
    border-radius: 50px;
    padding: 20px 30px;
    margin: 5px 25px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    font-weight: 750;
    letter-spacing: 2px;
    font-style: italic;
    color: aqua;
}


/* parte de tras do card */
.back {
    background: #fff;
    color: #333;
    padding: 20px 40px;
    transform: rotateY(180deg);
}

.back h1 {
    font-size: 34px;
    line-height: 70px;
    margin: 35px;
    



}


.back h1 span {
    font-weight: 400;

}

.back ul {

    text-align: center;
    margin: 30px;

}

/* animação do card */
.card:hover .card-inner {
    transform: rotateY(180deg)
}

/* botao de tras do card */

.back button {
    color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 50px;
    margin: 60px;
    padding: 20px;
    background: linear-gradient(to left, rgb(29, 135, 0), rgb(7, 210, 255), rgb(26, 11, 232));
    animation: button 5s infinite alternate;
    background-size: 300% 100%;




}
 /* animçao do botao de tras */
@keyframes button {
    0% {
        background-position-x: 0%;

    }

    100% {
        background-position-x: 100%;
        height: fit-content;
    }
}


/* estilização da lista */
ul>li {

    text-align: center;
    font-size: 20px;
    




}