* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


/* estilização do meu body justamente com background */
body {
    width: 100%;

    background-image: linear-gradient(to left, blue, orangered, yellow);
    background-size: 300% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: degrade 5s infinite alternate;





}

/* animação do degrade em background */
@keyframes degrade {
    0% {
        background-position-x: 0%;

    }

    100% {
        background-position-x: 100%;
    }
}



/*  ajustes do projeto total */
.container {
    width: 100%;
    min-height: 100vh;

    padding: 10px;
}

/* estilização do card  */
.card {
    width: 390px;
    height: 590px;
    margin: 220px auto 0;


}
 /* conteudo do card */
.card-inner {

    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;

}

/* aqui começa a estilização do conteudo do cart, texto e botoes */
.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;

}


.front {
    background: url(../Imagens/andre.JPG);
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;


}

/*  escreve escreve estilização de textos */
.front h1 {
    font-weight: 900;
    color:rgb(255, 255, 255)
    
    
}

.front p {
    color: #929291;
    font-size: 17px;
    font-weight: 800;

}





.front h2 {
    
    color: yellow;

    padding: 10px;
    margin: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: 750;
    letter-spacing: 2px;
    font-style:italic;  
    
}


/* opa meu consagrado, aqui é a parte de tras. Vai descendo ai */
.back {
    background: #fff;
    color: #333;
    padding: 20px 40px;
    transform: rotateY(180deg);
}

.back h1 {
    font-size: 30px;
    line-height: 70px;
    margin-bottom: 1px;
    margin: auto 40px;

}

.back h1 span {
    font-weight: 400;

}

.back p {
    font-size: 21px;
}

.back p span {
    font-weight: 700;
}

.back img {
    width: 100px;
}





/* money flip aqui q o card gira e fica de costa sorta alek */
.card:hover .card-inner {
    transform: rotateY(180deg)
}

.back button {
    color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 50px;
    margin: 30px 50px;
    padding: 30px;
    background-image: linear-gradient(to left, blue, orangered, yellow);
    animation: button 5s infinite alternate;
    background-size: 300% 100%;
    transition:  all 1s;
}

.back button:hover {
    
    background: rgb(10, 183, 252);
    color: white;
}

/* animação de giro do card sorta alek */
@keyframes button {
    0% {
        background-position-x: 0%;

    }

    100% {
        background-position-x: 100%;
    }
}